@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 74px;
}
.dark {
  background-color: #222;
}

.dark * {
  color: rgb(222, 222, 222) !important;
}

.dark header {
  background-color: #222;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 3px 3px 15px 1px solid rgba(200, 200, 200, 0.7);
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    .menu {
      display: none;
      border: 0;
      background: transparent;
      cursor: pointer;
    }
    .nav-items {
      display: flex;
      align-items: center;
      gap: 24px;
      .nav-item {
        color: #22343d;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        transition: 0.4s;
      }
      .nav-item:hover {
        color: #22343d;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 175% */
      }
      .nav-item:nth-child(5),
      .nav-item:nth-child(6) {
        border-radius: 4px;
        border: 1px solid #bcd0e5;
        color: #173a56;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 10px 25px;
        transition: 0.4s;
      }

      .nav-item:nth-child(5):hover,
      .nav-item:nth-child(6):hover {
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 4px;
        background: #02897a;
      }
      #dark-light {
        cursor: pointer;
        border: 0;
        background-color: transparent;
      }
    }
  }
}

.hero_cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 114px;
  gap: 32px;
  .hero_card h1 {
    max-width: 518px;
    padding-top: 145px;
    color: #22343d;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    padding-bottom: 18px;
  }
  .hero_card p {
    max-width: 458px;
    color: #22343d;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    padding-bottom: 45px;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    gap: 24px;
    .hero-btn {
      color: #02897a;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration-line: underline;
      display: flex;
      align-items: center;
      gap: 9px;
      padding: 15px 41px;
      transition: 0.4s;
    }
    .hero-btn:hover {
      border-radius: 4px;
      background: #02897a;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .hero-btn:hover #play {
      fill: #fff;
    }
  }
  .hero_card img {
    width: 100%;
    padding-top: 25px;
  }
  #play {
    fill: #02897a;
  }
}

.product {
  background-image: url(../images/Bg_moon.png);
  background-size: 100% 79vh;
  padding-bottom: 169px;
  .product-content h2 {
    max-width: 500px;
    color: #22343d;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
    padding-bottom: 57px;
  }
  .product_cards {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    padding-bottom: 60px;
    .product_card img {
      background-color: transparent;
    }
    .product_card h3 {
      color: #22343d;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 30px 0 13px;
    }
    .product_card p {
      max-width: 240px;
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }
  }
  .product_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    .product-btn {
      border-radius: 4px;
      background: #02897a;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 15px 32px;
    }
  }
}

.resources_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  padding-top: 159px;
  padding-bottom: 150px;
  .resources_card {
    max-width: 540px;

    b {
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    h4 {
      color: #22343d;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 8px 0 23px;
    }
    p {
      max-width: 436px;
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      padding: 12px 0 30px;
    }

    .resources-text {
      max-width: 430px;
      display: flex;
      align-items: center;
      gap: 30px;
    }
    .resources-text + .resources-text {
      padding-top: 30px;
    }
  }
  .resources_card + .resources_card {
    padding-top: 150px;
  }
  .resources_card .r_img {
    width: 100%;
  }
}

.process {
  height: 100vh;
  background-image: url(../images/moon-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 80vh;

  .process-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    h5 {
      color: #22343d;
      text-align: center;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 52px;
      padding-bottom: 16px;
    }
    .process_text {
      max-width: 524px;
      color: #22343d;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 162.5% */
      margin: auto;
      padding-bottom: 32px;
    }
  }

  .process_cards {
    max-width: 920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    row-gap: 24px;
    flex-wrap: wrap;

    .process_card {
      height: 98px;
      display: flex;
      align-items: start;
      gap: 16px;
      .p_card1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 53px;
        background-color: #fff;
        border-radius: 23px;
        padding: 15px 25px;
      }
    }
  }
  .process_btns {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .process_btn {
      border-radius: 4px;
      background: #02897a;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 15px 32px;
      transition: 0.5s;
    }
    .process_btn:hover {
      background: #05685d;
      color: #dbe0e5;
    }
  }
}

.carousel {
  padding-bottom: 230px;
  .carousel_text {
    color: #22343d;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 150px 0 8px;
  }
  .carousel-content p {
    color: #22343d;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    padding-bottom: 35px;
  }
  .item {
    border-radius: 8px;
    border: 1px solid #959696;
  }
  .item img {
    max-width: 548px;
    border-radius: 8px 8px 0 0;

    overflow: hidden;
  }
  .item p {
    padding: 24px 88px 0 24px;
    color: #22343d;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }
  .item b {
    color: #22343d;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    transition: 0.5s;
  }

  .item h6 {
    color: #22343d;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    padding: 12px 30px 40px 24px;
  }
  .item:hover h6 {
    color: #02897a;
    cursor: pointer;
  }
}

.pricing {
  padding-bottom: 150px;
  .pricing-content {
    h6 {
      text-align: center;
      color: #22343d;
      font-family: Poppins;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .title_price {
      text-align: center;
      color: #22343d;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-top: 8px;
      padding-bottom: 50px;
    }

    .pricing_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 71px;
      .pricing_card {
        max-width: 322px;
        border-radius: 8px;
        // background: #fff;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
        padding: 24px 0 32px;
        transition: 0.5s;
        cursor: pointer;
        .price_title {
          text-align: center;
          color: #22343d;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px; /* 250% */
          padding: 0px 75px 0 73px;
        }

        .price__ {
          max-width: 200px;
          height: 100px;
          color: #02897a;
          text-align: center;
          font-family: Poppins;
          font-size: 76px;
          font-style: normal;
          font-weight: 700;
          line-height: 100px; /* 131.579% */
          letter-spacing: 0.2px;
          position: relative;
          sup {
            color: #02897a;
            position: absolute;
            top: 30px;
            right: 38px;
            /* Title */
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px; /* 125% */
            letter-spacing: 0.1px;
          }
          sub {
            position: absolute;
            bottom: 20px;
            right: -35px;
            color: var(--second-text, #afafaf);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px; /* 118.75% */
            letter-spacing: 0.1px;
          }
        }

        .price_text + .price_text {
          padding-top: 16px;
        }

        .price_text {
          color: #22343d;
          text-align: center;
          /* Link */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0.2px;
        }
        .price_btns {
          display: flex;
          align-items: center;
          justify-content: center;

          padding-top: 38px;
          .price_btn {
            border-radius: 8px;
            background: #02897a;
            color: #fff;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 11px 19px;
          }
        }
      }
      .pricing_card:hover {
        border-radius: 8px;
        background: #02897a;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
      }
      .pricing_card:hover h6 {
        color: #fff;
      }
      .pricing_card:hover .price_title {
        color: #fff;
      }
      .pricing_card:hover .price__ {
        color: #fff;
      }
      .pricing_card:hover sup {
        color: #fff;
      }
      .pricing_card:hover .price_text {
        color: #fff;
      }
      .pricing_card:hover .price_btn {
        border-radius: 8px;
        background: #fff;
        color: #02897a;
      }
    }
  }
}

.customer {
  padding-bottom: 157px;

  .customer-content h6 {
    text-align: center;
    color: #22343d;
    font-family: Poppins;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 167.647% */
    letter-spacing: 0.2px;
    padding-bottom: 8px;
  }

  .customer-content p {
    max-width: 537px;
    margin: auto;
    color: #22343d;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    letter-spacing: 0.2px;
    padding-bottom: 50px;
  }

  .customer_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;
    .customer_card {
      max-width: 327px;
      padding: 28px 26px 24px;
      border-radius: 5px;
      border: 1px solid #dedede;

      .customer_text {
        color: var(--second-text-color, #737373);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
        letter-spacing: 0.2px;
        padding: 16px 0 17px;
      }
      .custo_card {
        display: flex;
        align-items: center;
        gap: 14px;
        .custo_text {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .custo_title {
            color: #02897a;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */
            letter-spacing: 0.2px;
          }
          & b {
            color: var(--text-color, #252b42);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }
}

.business {
  padding-bottom: 150px;
  .business-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .business_cards {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 32px;
      background: #02897a;
      .business_card {
        max-width: 550px;
      }
      .business_card h6 {
        max-width: 510px;
        color: #fff;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 151.4%; /* 48.448px */
        padding: 49px 0 0 51px;
      }
      .business_btns {
        padding: 68px 0 36px 51px;
        .business_btn {
          border-radius: 8px;
          background: #fff;
          color: #02897a;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          padding: 13px 35px;
          transition: 0.5s;
        }
        .business_btn:hover {
          background-color: #065d53;
          color: #fff;
        }
      }
      .business_card img {
        width: 100%;
        padding-top: 14px;
      }
    }
  }
}

footer {
  padding-bottom: 60px;
  .footer-content p {
    text-align: center;
    color: #22343d;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    padding-top: 16px;
  }
  .foot_cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;

    .site_links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding-top: 24px;
      .links {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #edfffc;
        border-radius: 50%;
      }
    }
    .foot_card {
      h6 {
        color: #22343d;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
      }
      a {
        color: #22343d;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px; /* 218.75% */
      }
    }
    .foot_card_content {
      h6 {
        max-width: 280px;
        height: 6px;
        color: #22343d;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
      }

      form {
        padding-top: 94px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 29px;
        input {
          padding: 10px 128px 10px 15px;
          border-radius: 4px;
          border: 1px solid #bcd0e5;
          background: #fff;
          outline: none;
        }
        .form_btn {
          display: inline-block;
          border-radius: 4px;
          background: #02897a;
          color: #fff;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding: 8px 12px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

//********* MEDIA *********

@media only screen and (max-width: 1111px) {
  .hero_card {
    max-width: 50%;
  }

  .resources_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 999px) {
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(80vh - 50px);
    background: #fff;
    opacity: 0.95;
    padding: 90px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }

  #dark-light {
    display: none;
  }

  #menu {
    display: block;
  }

  .open .nav-items {
    left: 0;
  }

  .open {
    box-shadow: none;
  }

  .hero_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  .process_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .business_cards {
    width: 100%;
  }
}

@media only screen and (max-width: 888px) {
  .resources_card {
    max-width: 400px;
  }

  .business_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }

  .foot_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .hero_card h1 {
    width: 100%;
    font-size: 32px;
  }
}
