@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 74px;
}

.dark {
  background-color: #222;
}

.dark * {
  color: rgb(222, 222, 222) !important;
}

.dark header {
  background-color: #222;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 3px 3px 15px 1px solid rgba(200, 200, 200, 0.7);
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
header .nav .nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .nav .nav-items .nav-item {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  transition: 0.4s;
}
header .nav .nav-items .nav-item:hover {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
header .nav .nav-items .nav-item:nth-child(5),
header .nav .nav-items .nav-item:nth-child(6) {
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  color: #173a56;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 25px;
  transition: 0.4s;
}
header .nav .nav-items .nav-item:nth-child(5):hover,
header .nav .nav-items .nav-item:nth-child(6):hover {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
  background: #02897a;
}
header .nav .nav-items #dark-light {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.hero_cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 114px;
}
.hero_cards .hero_card h1 {
  max-width: 518px;
  padding-top: 145px;
  color: #22343d;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
  padding-bottom: 18px;
}
.hero_cards .hero_card p {
  max-width: 458px;
  color: #22343d;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  padding-bottom: 45px;
}
.hero_cards .hero-btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero_cards .hero-btns .hero-btn {
  color: #02897a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 15px 41px;
  transition: 0.4s;
}
.hero_cards .hero-btns .hero-btn:hover {
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero_cards .hero-btns .hero-btn:hover #play {
  fill: #fff;
}
.hero_cards .hero_card img {
  padding-top: 25px;
}
.hero_cards #play {
  fill: #02897a;
}

.product {
  background-image: url(../images/Bg_moon.png);
  background-size: 100% 79vh;
  padding-bottom: 169px;
}
.product .product-content h2 {
  max-width: 500px;
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
  padding-bottom: 57px;
}
.product .product_cards {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 45px;
  padding-bottom: 60px;
}
.product .product_cards .product_card img {
  background-color: transparent;
}
.product .product_cards .product_card h3 {
  color: #22343d;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 30px 0 13px;
}
.product .product_cards .product_card p {
  max-width: 240px;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.product .product-btn {
  position: absolute;
  left: 45%;
  margin: auto;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 32px;
}

.resources_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  padding-top: 159px;
  padding-bottom: 150px;
}
.resources_cards .resources_card {
  max-width: 540px;
}
.resources_cards .resources_card b {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.resources_cards .resources_card h4 {
  color: #22343d;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px 0 23px;
}
.resources_cards .resources_card p {
  max-width: 436px;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 12px 0 30px;
}
.resources_cards .resources_card .resources-text {
  max-width: 430px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.resources_cards .resources_card .resources-text + .resources-text {
  padding-top: 30px;
}
.resources_cards .resources_card + .resources_card {
  padding-top: 150px;
}

.process {
  height: 100vh;
  background-image: url(../images/moon-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 80vh;
}
.process .process-content {
  position: relative;
}
.process .process-content h5 {
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 52px;
  padding-bottom: 16px;
}
.process .process-content .process_text {
  max-width: 524px;
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  margin: auto;
  padding-bottom: 32px;
}
.process .process_cards {
  max-width: 920px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  row-gap: 24px;
  flex-wrap: wrap;
  position: absolute;
  left: 120px;
  right: 120px;
}
.process .process_cards .process_card {
  height: 98px;
  display: flex;
  align-items: start;
  gap: 16px;
}
.process .process_cards .process_card .p_card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  background-color: #fff;
  border-radius: 23px;
  padding: 15px 25px;
}
.process .process_btns {
  padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process .process_btns .process_btn {
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px 32px;
  transition: 0.5s;
}
.process .process_btns .process_btn:hover {
  background: #05685d;
  color: #dbe0e5;
}

.carousel {
  padding-bottom: 230px;
}
.carousel .carousel_text {
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 145px 0 8px;
}
.carousel .carousel-content p {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  padding-bottom: 35px;
}
.carousel .item {
  border-radius: 8px;
  border: 1px solid #959696;
}
.carousel .item img {
  max-width: 548px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.carousel .item p {
  padding: 24px 88px 0 24px;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.carousel .item b {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  transition: 0.5s;
}
.carousel .item h6 {
  color: #22343d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  padding: 12px 30px 40px 24px;
}
.carousel .item:hover h6 {
  color: #02897a;
  cursor: pointer;
}

.pricing {
  padding-bottom: 150px;
}
.pricing .pricing-content h6 {
  text-align: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.pricing .pricing-content .title_price {
  text-align: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 8px;
  padding-bottom: 50px;
}
.pricing .pricing-content .pricing_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 71px;
}
.pricing .pricing-content .pricing_cards .pricing_card {
  max-width: 322px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 24px 0 32px;
  transition: 0.5s;
  cursor: pointer;
}
.pricing .pricing-content .pricing_cards .pricing_card .price_title {
  text-align: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
  padding: 0px 75px 0 73px;
}
.pricing .pricing-content .pricing_cards .pricing_card .price__ {
  max-width: 200px;
  height: 100px;
  color: #02897a;
  text-align: center;
  font-family: Poppins;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 131.579% */
  letter-spacing: 0.2px;
  position: relative;
}
.pricing .pricing-content .pricing_cards .pricing_card .price__ sup {
  color: #02897a;
  position: absolute;
  top: 30px;
  right: 38px;
  /* Title */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  letter-spacing: 0.1px;
}
.pricing .pricing-content .pricing_cards .pricing_card .price__ sub {
  position: absolute;
  bottom: 20px;
  right: -35px;
  color: var(--second-text, #afafaf);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 118.75% */
  letter-spacing: 0.1px;
}
.pricing .pricing-content .pricing_cards .pricing_card .price_text + .price_text {
  padding-top: 16px;
}
.pricing .pricing-content .pricing_cards .pricing_card .price_text {
  color: #22343d;
  text-align: center;
  /* Link */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.2px;
}
.pricing .pricing-content .pricing_cards .pricing_card .price_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 38px;
}
.pricing .pricing-content .pricing_cards .pricing_card .price_btns .price_btn {
  border-radius: 8px;
  background: #02897a;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 11px 19px;
}
.pricing .pricing-content .pricing_cards .pricing_card:hover {
  border-radius: 8px;
  background: #02897a;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
.pricing .pricing-content .pricing_cards .pricing_card:hover h6 {
  color: #fff;
}
.pricing .pricing-content .pricing_cards .pricing_card:hover .price_title {
  color: #fff;
}
.pricing .pricing-content .pricing_cards .pricing_card:hover .price__ {
  color: #fff;
}
.pricing .pricing-content .pricing_cards .pricing_card:hover sup {
  color: #fff;
}
.pricing .pricing-content .pricing_cards .pricing_card:hover .price_text {
  color: #fff;
}
.pricing .pricing-content .pricing_cards .pricing_card:hover .price_btn {
  border-radius: 8px;
  background: #fff;
  color: #02897a;
}

.customer {
  padding-bottom: 157px;
}
.customer .customer-content h6 {
  text-align: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 167.647% */
  letter-spacing: 0.2px;
  padding-bottom: 8px;
}
.customer .customer-content p {
  max-width: 537px;
  margin: auto;
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  padding-bottom: 50px;
}
.customer .customer_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
}
.customer .customer_cards .customer_card {
  max-width: 327px;
  padding: 28px 26px 24px;
  border-radius: 5px;
  border: 1px solid #dedede;
}
.customer .customer_cards .customer_card .customer_text {
  color: var(--second-text-color, #737373);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  padding: 16px 0 17px;
}
.customer .customer_cards .customer_card .custo_card {
  display: flex;
  align-items: center;
  gap: 14px;
}
.customer .customer_cards .customer_card .custo_card .custo_text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.customer .customer_cards .customer_card .custo_card .custo_text .custo_title {
  color: #02897a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}
.customer .customer_cards .customer_card .custo_card .custo_text b {
  color: var(--text-color, #252b42);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.2px;
}

.business {
  padding-bottom: 150px;
}
.business .business-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.business .business-content .business_cards {
  max-width: 968px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  background: #02897a;
}
.business .business-content .business_cards .business_card h6 {
  max-width: 510px;
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.4%; /* 48.448px */
  padding: 49px 0 0 51px;
}
.business .business-content .business_cards .business_btns {
  padding: 68px 0 36px 51px;
}
.business .business-content .business_cards .business_btns .business_btn {
  border-radius: 8px;
  background: #fff;
  color: #02897a;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 13px 35px;
  transition: 0.5s;
}
.business .business-content .business_cards .business_btns .business_btn:hover {
  background-color: #065d53;
  color: #fff;
}
.business .business-content .business_cards .business_card img {
  padding-top: 14px;
}

footer {
  padding-bottom: 60px;
}
footer .footer-content p {
  text-align: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  padding-top: 16px;
}
footer .foot_cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .foot_cards .site_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 24px;
}
footer .foot_cards .site_links .links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 50%;
}
footer .foot_cards .foot_card h6 {
  color: #22343d;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
footer .foot_cards .foot_card a {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 218.75% */
}
footer .foot_cards .foot_card_content h6 {
  max-width: 280px;
  height: 6px;
  color: #22343d;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
footer .foot_cards .foot_card_content form {
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 29px;
}
footer .foot_cards .foot_card_content form input {
  padding: 10px 128px 10px 15px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background: #fff;
  outline: none;
}
footer .foot_cards .foot_card_content form button {
  display: inline-block;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */